{{#if draft}}

{{else}}
  <div class="col-lg-7 col-md-7">
    <a href="#portfolio/{{_id}}" class="clientPortImage">
      <img class="img-responsive" src="{{imageDataURI}}">
    </a>
  </div>
  <div class="col-lg-5 col-md-5">
    <h3>{{title}}</h3>
    <h4>{{tags}}</h4>
    <p>{{{bodyExcerpt}}}</p>
    <a class="btn btn-primary" href="#portfolio/{{_id}}">View Project</a>
  </div>
  <hr> 
{{/if}}